//custom variables
$primary: #7C9C84;
$secondary: #EEEAE8;
$success:#5aa960;
$warning: #d89928;
$danger: #f44336;
$info: #313d34;

//import bootstrap
@import '../node_modules/bootstrap/scss/bootstrap';