/* Themed color:
main color: #7C9C84
Light accent: #6CA766
Dark accent: #7C875C
light shade: #EEEAE8
dark shade: #313D34
Golden Grass: #d89928
Fruit Salad: ##5aa960 */

@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,500;1,400;1,500&display=swap');


body{
    font-family: 'EB Garamond', serif;
}

/* nav bar */
/* animated hover underline effect */

.nav-link {
    padding: 20px 0px;
    position: relative;
    opacity: 0.9;
}

.nav-link:hover {
    opacity: 1;
  }

.nav-link::before {
    transition: 300ms;
    height: 2px;
    content: "";
    position: absolute;
    background-color: #EEEAE8;
}

.nav-item a::before {
    width: 0%;
    bottom: 10px;
}
  
.nav-item a:hover::before {
    width: 90%;
}

/* header */

.tag-item:hover {
    background-color: #6CA766 !important;
    color:white !important;
}

.tag-item:hover i {
    color: white !important;
}

.intro-about:hover{
    background-color: #617a67 !important;
    color: white !important;
}

/* .headerImg {
    overflow: hidden;
}

.headerImg img {
    animation: slide-in 1.1s ease-out;
}

@keyframes slide-in {
    0% {
      transform: translateX(100%); 
    }
    100% {
      transform: translateX(0); 
    }
} */

@keyframes bounce {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-8px);
    }
    100% {
      transform: translateY(0);
    }
}
  
.bounce {
    animation: bounce 1.5s infinite;
}


#btn-back-to-top {
    position: fixed;
    bottom: 25px;
    right: 25px;
    display: none;
    z-index: 9999;
}

/* section {
    font-family: Georgia, Times, 'Times New Roman', serif;
} */

.card {
    transition: all, 0.3s;
}

.card:hover {
    transform: scale(1.03);
}

.project-img {
    height: 100%;
    object-fit: cover;
}

.project-img-contain{
    height: 100%;
    object-fit: contain;
}

.btn:hover{
    background-color: #617a67 !important;
    color: white !important;
}

.btn:hover i{
    color: white !important;
}

.icon-adobe {
    width: 48px;
    height: 48px;
}

.contact-icon {
    color: #7C9C84 !important;
}

.contact-icon:hover {
    color: #617a67 !important;
}
